/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Reset default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Smooth scrolling behavior and scroll padding */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
}


/* Body background color */
body {
    position: relative;
    background: #f4f4f4;
    z-index: 1;
}


/* Section styles with padding and negative margin top */
section {
    padding: 20px;
    margin-top: -80px;
}

/* Heading styles */
.section-heading {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    position: relative;
    z-index: 1;
}


  

.home,
.about,
.features,
.pricing,
.contact {
    margin-bottom: 0; /* Adjust the value as needed */
    /* ... (Other styles) ... */
    z-index: 1;
}

.separator {
    position: fixed;
    top: 0;
    left: 0;
    height: 120%;
    width: 100%;
    background: url('IMG-4697.jpg') no-repeat center top/cover;
    z-index: -1;
}

/* Sections below the separator */
.features,
.pricing,
.contact {
    margin-top: 50vh; /* Add margin-top to push them below the separator */
    /* ... (Other styles) ... */
}
  

/* Home section */
/* Home section */
/* Home section */
/* Home section */
.home {
    min-height: 120vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    overflow: hidden;
    position: relative;
}

/* Video background */
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Background overlay */
.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Change the background color and adjust opacity as needed */
    z-index: -1;
}

/* Centered content */
.centered-content {
    text-align: center; /* Center the content horizontally */
    z-index: 1; /* Place it above the background overlay */
}



/* Content in home section */
.home .content {
    width: 79rem;
}

/* Heading 1 in content */
.home .content h1 {
    font-size: 5rem;
    color: #fff;
    margin: 0; /* Adjust the margin-bottom to control the spacing */
    padding: 1rem 0;
    letter-spacing: 20px;
}

/* Heading 3 in content */
.home .content h3 {
    font-size: 1.3rem;
    color: #fff;
    margin: -40px 0; /* Remove any top margin */
    padding: 1rem 0;
    letter-spacing: 40px;
}



/* About section styles */
.about {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #f4f4f4;
    gap: .1rem;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 1;

    
}

/* About image styles */
.about .image {
    flex: 1 1 calc(50% - 3rem);
    position: relative;
    margin-left: 100px;
}


.about .image img {
    width: 550px;
    height: 775px;
    border: solid #C6A85F 4px;
    margin-left: 50px;
    margin-top: 50px;
}

/* About content styles */
.about .content {
    flex: 1 1 calc(50% - 4rem);
    position: relative;
    margin-top: 60px;
    margin-right: 150px;
    text-align: center;
    padding: 1.5rem;
}

.about .content h1 {
    color: #000;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
    background-color: #C6A85F;
    padding: 33px 33px 33px 33px;
    width: 550px;
    height: 145px;
}

/* About paragraph styles */
.about .content p {
    color: #7a7a7a;
    text-align: justify;
    font-size: 18px;
    background-color: #fff;
    padding: 33px 33px 33px 33px;
    width: 507px;
    height: 770px;
    margin-left: 4%;
    margin-bottom: 5%;
    top: -20px;
    position: relative;
    z-index: 1;

}

.features {
    background: #fff; /* Set an appropriate background color */
    padding: 100px; /* Increase the padding to make the section bigger */
    text-align: center; /* Center-align the content */
    color: #000; /* Set an appropriate text color */
}

.features .content h1 {
    font-size: 28px; /* Adjust the font size as needed */
    font-weight: bold;
    margin-bottom: 20px; /* Add margin to separate the h1 from the paragraph */
    text-align: center;
    display: block;
}

.features .content p {
    font-size: 18px; /* Adjust the font size as needed */
    color: #7a7a7a; /* Set an appropriate paragraph text color */
}

.feature-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 100px;
    justify-content: center; 
    /* Add other styles for the grid container */
}

.feature {
    background-color: #000;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    /* Add other styles for individual feature items */
}

.feature i {
    font-size: 48px;
    margin-bottom: 10px;
    color: #fff;
    /* Add other styles for the Font Awesome icon */
}

.feature h4 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
    /* Add other styles for the title */
}

.feature p {
    font-size: 16px;
    color: #fff;
    /* Add other styles for the description */
}



/* Add styles for parallax effect */
/* Style for the Q&A section */
.qa {
    padding: 100px 0; /* Add padding to create space around the Q&A section, 0 for left and right */
    background-color: #F9F9F9; /* Add a background color for the container */
    position: relative; /* Add relative positioning to the container */
    overflow: hidden; /* Hide any content that overflows the container */
    margin-top: 50vh;
}

.qa h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 40px;
    text-align: center;
}

/* Style for the Q&A container */
.qa-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Add spacing between Q&A items */
}

/* Add the custom shape divider to the .qa section */
.qa::before {
    content: "";
    position: absolute;
    bottom: 0; /* Place it at the very bottom */
    left: 0;
    width: 100%;
    height: 120px; /* Adjust the height as needed */
    overflow: hidden;
    line-height: 0;
    z-index: -1; /* Move the divider behind the content */
}

.custom-shape-divider-bottom-1695403821 svg {
    width: 100%;
    height: auto;
    fill: #C6A85F; /* Match the background color of the .qa section */
    margin-bottom: -110px;
    margin-top: 150px;
}

.qa-item {
    margin-bottom: 20px;
    cursor: pointer;
}

.qa-item .arrow-icon {
    display: inline-block;
    margin-left: 5px; /* Adjust the margin as needed */
    font-size: 1rem; /* Adjust the font size as needed */
    color: #666; /* Adjust the color as needed */
}


/* Style for the Q&A question */
.qa-item h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Style for the Q&A answer */
.qa-item p {
    font-size: 1rem;
    color: #666;
    text-align: center;
}



.pricing {
    
    padding: 50px;
    background-color: #f4f4f4;
}

.pricing .heading {
    margin-top: -70px;
    
}

.pricing .heading h1 {
    color: #111;
    font-size: 32px;
    font-weight: 900;
    margin-top: 50px;
}

.pricing .heading p {
    color: #7a7a7a;
    font-size: 18px;
}


.contact-page {
    position: relative;
    width: 100%;
    min-width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    margin-top: 50vh;
    background: cover;
    background-color: #f4f4f4;

}

.contact-page title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contact-page .title h1 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: #111;
}

.contact-page .box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
}

.contact-page .contact {
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.15);
    margin-top: 20px;
}


.contact-page .contact h3 {
    color: #111;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.contact-page .form{
    grid-area: form;
}

.contact-page .info{
    grid-area: info;
}

.contact-page .map{
    grid-area: map;
}

/* Style the form */
.contact-page .form label {
    font-size: 1.2em;
    color: #333;
}

.contact-page .form h3 {
    margin-bottom: 20px;
    color: #111;
}

.contact-page .form input[type="text"],
.contact-page .form input[type="email"],
.contact-page .form input[type="tel"],
.contact-page .form textarea {
    width: 100%;
    padding: 20px;
    padding-bottom: -50px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.contact-page .form textarea {
    resize: vertical;
}

/* Style the submit button */
.contact-page .form button[type="submit"] {
    background-color: #111;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-page .form button[type="submit"]:hover {
    background-color: #C6A85F;
    color: #000;
}

/* Style the contact info */
.contact-page .info h2 {
    font-size: 1.8em;
    color: #111;
    margin-bottom: 15px;
}

.contact-page .contact-details {
    margin-top: 20px;
}

.contact-page .contact-details i {
    font-size: 1.5em;
    margin-right: 10px;
    color: #111;
    margin-bottom: 10px;
}

.contact-page .contact-details p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}

.contact-page .map {
    padding: 0;
}

.contact-page .map iframe {
    width: 100%;/* Make the iframe fill its container width */
    height: 100%; /* Make the iframe fill its container height */
    border: none;
    margin: 0;
}




/* Responsive styles for smaller screens */
@media (max-width: 1200px) {

    section {
        padding: 3rem 2rem;
    }

    .home .slide {
        padding: 2rem 5%;
    }

    .home .content {
        width: 50rem;
    }

    .home .content h3 {
        font-size: 2rem;
    }

    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-bottom: -30px;
    }

    .about .image {
        flex: 1 1 100%;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
        padding-top: 50px;
    }

    .about .image img {
        max-width: 100%;
        height: 804px;
        width: 570px;
        margin-right: 0;
        margin-left: 0;
    }

    .about .content {
        display: flex; /* Use flexbox for centering */
        flex-direction: column; /* Stack items vertically */
        justify-content: center; /* Center items vertically */
        align-items: center; /* Center items horizontally */
        flex: 1 1 100%;
        margin-bottom: 50px; /* Adjust margin as needed */
        margin-left: 0;
        margin-right: 0;

    }
    
    .about .content h1 {
        font-size: 40px;
        width: 100%;
        text-align: center; /* Center-align the text */
        margin: 0; /* Reset margin */
    }
    
    .about .content p {
        font-size: 18px;
        width: 100%;
        text-align: center; /* Center-align the text */
        margin: 0; /* Reset margin */
    }
    

    .feature-content {
        grid-template-columns: repeat(2, 1fr); /* Change to a 2-column grid */
        padding: 50px; /* Reduce padding for smaller screens */
    }

    .pricing {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .pricing .plan {
        margin-left: 0; /* Reset margin for individual plans */
        text-align: center; /* Center align the plans */
    }

    .contact {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    
    }

    .contact-page .contact-details p {
        font-size: 1em;
        color: #333;
        margin-bottom: 20px;
    }

}

@media (max-width: 768px) {

    .home .slide {
            background-position: 40%;
            /* You can adjust background properties as needed */
        }
        

    .home .content h3 {
        font-size: 1.5rem;
    }

    .about {
        flex-direction: column;
        align-items: center;
    }

    .about .image {
        margin-right: 150px;
        width: 570px;
    }

    .about .image img {
        max-width: 100%;
        height: 804px;
        width: 570px;
    }

    .about .content {
        flex: 1 1 100%;
        margin-top: 2rem; /* Adjust margin as needed */
        position: relative;
    }

    .about .content h1 {
        font-size: 55px;
        height: 121px;
        width: 700px;
        padding: 33px 0 33px 33px;

    }

    .about .content p {
        height: 565px;
        width: 667px;
        padding: 21px 21px 21px 21px;
        margin-left: 50px;

    }

    .feature-content {
        grid-template-columns: 1fr; /* Change to a single-column grid */
        padding: 20px; /* Further reduce padding for very small screens */
    }

    .qa .qa-container h2{
        font-size: 20px;

    }

    .qa .qa-container p {
        font-size: 14px;
    }

    .pricing {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .pricing .plan {
        margin-left: 0; /* Reset margin for individual plans */
        text-align: center; /* Center align the plans */

    }

    .contact-page {
        /* Adjust styles for tablet screens */
        padding: 20px; /* Reduce padding for smaller screens */
    }

    .contact-page .box {
        /* Adjust grid layout for smaller screens */
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "form"
            "info"
            "map";
    }

    .contact-page .contact {
        /* Margin adjustments for smaller screens */
        margin-top: 10px;
    }
    
}

  @media (max-width: 480px) {
    /* CSS rules for screens up to 480px wide (e.g., mobile) */

        /* CSS rules for screens up to 480px wide (e.g., mobile) */
    
        .about {
            flex-direction: column;
            align-items: center;
            padding-bottom: 20px;
            padding-top: 20px;
            padding-bottom: 20px; /* Adjust padding as needed */
            padding-top: 40px; /* Increase padding for spacing */
            margin-bottom: 20px; /* Add margin for spacing */
        }
    
        .about .image {
            margin-top: 70px;
            margin-left: 0;
            margin-right: 0;
            flex: 1 1 100%;
            align-items: center;
            text-align: center;
        }
    
        .about .image img {
            max-width: 370px; /* Set the maximum width */
            height: 550px; /* Set the height */
            width: 100%; /* Ensure it scales proportionally */
            margin: 0; /* Remove margins */
        }
    
        .about .content {
            flex: 1 1 100%;
            margin: 1rem 0; /* Adjust margin as needed */
            margin-bottom: 20px;
            position: relative;
            text-align: center; /* Center-align the content */
        }
    
        .about .content h1 {
            font-size: 35px;
            height: auto;
            width: 100%;
            padding: 1rem; /* Add padding for spacing */
            margin: 0; /* Remove margins */
        }
    
        .about .content p {
            height: auto;
            width: 100%;
            padding: 1rem; /* Add padding for spacing */
            margin: 0; /* Remove margins */
        }

        .pricing {
            margin-bottom: 400px;
        }

        .pricing .heading {
            margin-top: 20px;
        }


    .qa h1 {
        font-size: 25px;
        color: #333;
        margin-bottom: 40px;
        text-align: center;
    }

    .qa .qa-container h2{
        font-size: 18px;

    }

    .qa .qa-container p {
        font-size: 13px;
    }

    .contact-page {
        /* Further adjustments for mobile screens */
        padding: 10px; /* Reduce padding for very small screens */
        min-width: 100%;
        margin: 0 0;
        text-align: center;
    }

    .contact-page .title {
        margin-top: 30px;
        font-size: 26px;
        text-align: center;
    }

    .contact-page .box {
        /* Adjust grid layout for mobile screens */
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "form"
            "info"
            "map";
    }

    .contact-page .contact {
        /* Margin adjustments for mobile screens */
        margin-top: 5px;
    }

    /* Additional styling for form inputs on mobile screens */
    .contact-page .form input[type="text"],
    .contact-page .form input[type="email"],
    .contact-page .form input[type="tel"],
    .contact-page .form textarea {
        font-size: 11px; /* Adjust font size for better readability on small screens */
    }

    /* Additional styling for submit button on mobile screens */
    .contact-page .form button[type="submit"] {
        padding: 8px 8px; /* Adjust button padding for mobile screens */
        font-size: 14px; /* Increase font size for better visibility on small screens */
    }
  }

  /*-------- iPads (portrait and landscape) --------*/

  @keyframes shake {
    0% { transform: translate(0, 0); }
    10%, 90% { transform: translate(-5px, 0); }
    20%, 80% { transform: translate(5px, 0); }
    30%, 50%, 70% { transform: translate(-5px, 0); }
    40%, 60% { transform: translate(5px, 0); }
    100% { transform: translate(0, 0); }
}

/* Apply the animation to the phone icon when hovering */
.telefon i:hover {
    animation: shake 0.5s infinite;
}

/* Apply the animation to the Instagram icon when hovering */
.instagram i:hover {
    animation: bounce 0.5s infinite;
}

.pricing .plan:hover {
    animation: bounce 0.5s infinite;
}

.qa-item:hover {
    animation: bounce 2s;
}

.feature-content .feature:hover {
    animation: bounce 0.5s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Add zoom-in animation to images on hover */
/* Add infinite zoom-in animation to images on hover */

